#navbarScrollingDropdown,
.nav-link {
  text-transform: uppercase;
  font-weight: 700;
}
#navbarScroll {
  flex-grow: 0;
}
.navbar-brand {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem !important;
}
