.widget {
  position: relative;
  perspective: 180px;
}
.widget:hover {
  transform: rotateY(-33deg);
  transform-style: preserve-3d;
}
.widget__number {
  position: absolute;
  top: 0;
  //   right: 0;
  font-size: 50%;
  margin: auto;
  transform: translate(-100%, -50%);
  color: white;
  background-color: #dc3545;
  padding: 1px 5px;
  border-radius: 50%;
  cursor: initial;
}
