@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  margin-bottom: 40px;
} // it is neccesary for navbar bottom

@media screen and (min-width: 992px) {
  body {
    margin-bottom: initial;
  }
}
